
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.new-grid-btn{
    padding: 10px 20px;
    color: #009B7C;
    border-color: #009B7C;
    border-radius: 8px;
    background-color: white;
}

.new-grid-btn:hover{
    background-color: #009B7C;
    color:white;
}

.grid-container{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 800px;
    height: 800px;
}

.column-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
}

.square{
    flex: 1;
    border: 2px solid black;
}

.hover{
    background-color: #2cae6b;
}