
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.new-grid-btn{

}

.grid-container{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 900px;
    height: 900px;
}

.column-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
}

.square{
    flex: 1;
    border: 2px solid black;
}

.hover{
    background-color: #2cae6b;
}